In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier

In [2]:
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
! kaggle datasets download uciml/sms-spam-collection-dataset

Downloading sms-spam-collection-dataset.zip to /content
  0% 0.00/211k [00:00<?, ?B/s]
100% 211k/211k [00:00<00:00, 47.1MB/s]

In [5]:
! unzip sms-spam-collection-dataset.zip

Archive:  sms-spam-collection-dataset.zip
  inflating: spam.csv

In [40]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
df = df.drop(['Unnamed: 2',	'Unnamed: 3',	'Unnamed: 4'], axis=1)
df = df.sample(frac = 1).reset_index().drop(['index'],axis=1)
df

        v1                                                 v2
0      ham  No I don't have cancer. Moms making a big deal...
1      ham                       Do u knw dis no. &lt;#&gt; ?
2      ham  And miss vday the parachute and double coins??...
3      ham         LOL ... Have you made plans for new years?
4      ham  Jason says it's cool if we pick some up from h...
...    ...                                                ...
5567  spam  +123 Congratulations - in this week's competit...
5568  spam  You have been specially selected to receive a ...
5569   ham  Haha figures, well I found the piece and prisc...
5570  spam  You are a winner you have been specially selec...
5571   ham  It's Ì© only $140 ard...Ìä rest all ard $180 a...

[5572 rows x 2 columns]

In [41]:
obj_tv = TfidfVectorizer()
obj_cv = CountVectorizer()

In [43]:
X = obj_tv.fit_transform(df['v2'])
Y = df['v1']

In [52]:
Xcv = obj_cv.fit_transform(df['v2'])
Ycv = df['v1']

X_train = Xcv[:-100]
Y_train = Ycv[:-100]

X_test = Xcv[-100:] 
Y_test = Ycv[-100:]

In [51]:
X_train = X[:-100]
Y_train = Y[:-100]

X_test = X[-100:] 
Y_test = Y[-100:]

In [46]:
model_bayes = MultinomialNB()
model_boost = AdaBoostClassifier()

In [53]:
model_bayes.fit(X_train, Y_train)
model_boost.fit(X_train, Y_train)

AdaBoostClassifier()

In [54]:
sbc = model_bayes.score(X_test,Y_test)
abc = model_boost.score(X_test,Y_test)

In [48]:
sb = model_bayes.score(X_test,Y_test)
ab = model_boost.score(X_test,Y_test)

In [49]:
print(f'Score of multinominal naive bayes is : {sb}')
print(f'Score of adabooster is               : {ab}')

Score of multinominal naive bayes is : 0.99
Score of adabooster is               : 1.0

In [55]:
print(f'Score of multinominal naive bayes is : {sbc}')
print(f'Score of adabooster is               : {abc}')

Score of multinominal naive bayes is : 0.99
Score of adabooster is               : 0.99